<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Index Topic 5</title>
  <link href="normalize.css" rel="stylesheet" type="text/css"/>
  <link href="style.css" rel="stylesheet" type="text/css" title="Default Style"/>
  <script src="scripts/libs/jquery-1.11.1.js" type="text/javascript"></script>
  <script src="scripts/libs/underscore.js" type="text/javascript"></script>
  <script src="scripts/libs/backbone.js" type="text/javascript"></script>
<body>
  <header>
    <h1>My Movies</h1>
  </header>
  <nav>
    <h3>Movie List</h3>
    <div id="mainContainer" class="contMain"></div>
    <script type="text/template" id="tmplt-Movies">
      <ul>
      </ul>
      <span class="addItem">[Add Movie]</span>
    </script>
    <script type="text/template" id="tmplt-Movie">
      <div>
        <%= title %>
        <span class="editItem">[Edit]</span>
        <span class="deleteItem">[Remove]</span>
        <span class="getInfoItem">[Info]</span>
      </div>
    </script>
  </nav>
  <section>
    <article>
      <h3>Movie Info</h3>
      <div id="mainContainerInf" class="contInfo"> </div>
      <script type="text/template" id="tmplt-MovieInf">
        <div class="infoItem" > <strong> Title: </strong> <%= title %> </div>
        <img class="poster" src=<%= poster %>>
        <div class="infoItem"> <strong> Year: </strong> <%= year %> </div>
        <div class="infoItem"> <strong> Duration: </strong> <%= duration %> </div>
        <div class="infoItem"> <strong> Genre: </strong> <%= genre %> </div>
        <div class="infoItem"> <strong> Rating: </strong> <%= rating %> </div>
        <div class="infoItem"> <strong> Director: </strong> <%= director %> </div>
        <div class="infoItem"> <strong> Cast: </strong> <%= cast %> </div>
        <div class="infoItem"> <strong> Summary: </strong> <%= summary %> </div>
      </script>
    </article>
    <article>
      <h3>Movie Form</h3>
      <div id="mainContainerForm" class="contForm">
        <form id="form">
          <strong>Title: </strong> <input type="title" name="title" id="title" class="formItem">
          <strong>Year:  </strong> <input type="year" name="year" id="year" class="formItem">
          <strong>Duration: </strong> <input type="duration" name="duration" id="duration" class="formItem">
          <strong>Genre: </strong> <input type="genre" name="genre" id="genre" class="formItem">
          <strong>Rating: </strong> <input type="rating" name="rating" id="rating" class="formItem">
          <strong>Summary: </strong> <input type="summary" name="summary" id="sum" class="formItem">
          <strong>Director: </strong> <input type="director" name="director" id="dir" class="formItem">
          <strong>Cast: </strong> <input type="cast" name="cast" id="cast" class="formItem">
          <strong>Poster: </strong> <input type="poster" name="poster" id="poster" class="formItem">
        </form>
      </div>
    </article>
  </section>
  <script src="scripts/main.js" type="text/javascript"></script>
</body>
</html>
